/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #1b1b1b; /* Black */
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #00cc66; /* Green */
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #9933cc; /* Purple */
}

/* Add this for a smooth transition effect */
.nav-link-transition {
  transition: color 0.3s ease-in-out;
}

/* Add this class to the Link component in your App.js file */
